body{
    direction: ltr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amiri', serif;
    font-size: 16px;
}
.logo{
    margin-top: 5px;
    margin-right: 30px;
    float: left; 
}
.navbar{
    background-color: #6faa85;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f6f8f7;
}
.navbar-light .navbar-nav .active,
.navbar-light .navbar-nav .nav-item:hover
{
    color: #000;
}
.header{
    background-color: #8ec5a3;
    height: 110px;
}
.header i{
  padding: 5px 5px;
   margin-right: 0px;
}
.collapse{
    margin-left: 400px;
}
.carousel{
    margin-top: 200px;
}
.carousel-inner{
    margin-top: -180px;
    height: 60vh;
    width: 90%;
}
.f{
    z-index: 999;
    top: 56%;
    text-align: center;
    margin-right: 500px;
  
}

.f p,
.f h2{
    width: 100%;
    color: #ffffff;
}

.f p{
    padding: 10px 20px;
    font-size: medium;
}

.f p a{
    
    width: 130px;
    background-color: #6cad22;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
   
}
.select{
    background-color: rgb(32, 28, 28);
    float: left;
 }
 .country-select {
    font-size: 0pc;
   background-position: center;
     background-image: url(https://www.countryflags.io/ye/shiny/64.png);
 }
 .country-select option{
    font-size: 1pc;
 }
.country-select ,.city-select{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;

}
.country-select{
    width: 60px;
  
}
.search{
    float: right;
    height: 50px;
    margin-right: -480px;
    margin-top: 60px;   
}
.top-header{
    padding: 0;
    margin-top: 10px;
    float: right;
    height: 50px;
    width: 480px;
    margin-right: 10px;  
}
.search-area{
    width: 300px;
    height: 40px;
    background: #dfebe4;
    border: none;
    border-radius: 3px;
    float: right;
    text-align: left;
    padding-left: 15px;
}
.search-btn ,.loo ,.en{
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background: #6cad22;
    
}
.loo{
    width: 80px;
}
.en{
    width: 50px; 
}
.sine{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background: #6cad22;
}
.addpro{
    
    width: 170px;
    height: 40px;
    background: #dfebe4;
    border: none;
    border-radius: 3px;
    float: right;
    text-align: left;
    padding-left: 15px;   
}
.carousel-caption{
    top: 20%;
    right: auto;
}
.carousel-caption h1,
.carousel-caption p{
    width: 100%;
    color: #ffffff;
}
.carousel-caption p{
    font-size: medium;
}
.carousel-caption p a{
    
    margin: auto;
    display: block;
    width: 130px;
    background-color: #6cad22;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 500;
   
}
@media screen and (max-width: 900px){
    .collapse span {
        display: none;
    }
    .f{
        top: 60%;
        text-align: center;
        margin-left: 0px;
    }
    .topfix{
        margin-top: -4px;
    }
    .header{
        height: 200px;
    }
    .collapse{
        text-align: right;
        margin-left: 0px;
    }
  
    .carousel-caption{
        top: 25%;
        right: auto;
    }
    .carousel{
        margin-top: 300px;
    }
    .carousel-inner{
        height: 360px;
    }
    .top-header{
        text-align: center;
        padding: 0;
        margin-top: 10px;
        float: none;
        height: 50px;
        width: 100%;
        margin-right: 0px;  
    }
    .search{
        text-align: center;
        float: none;
        height: 50px;
        width: 100%;
        margin-right: 0px;
        margin-top: 0px;   
    }
    .logo{
        text-align:center;
        margin-top: 5px;
        margin-left: 0px;
        float: none; 
    }
    .navbar{
        margin-top: 0px;
      
    }
    .addpro{
        float: none;
    }
    .search-area{
        float: none;
    }

}

@media screen and (max-width: 600px){
    .topfix{
        margin-top: -10px;
    }
    .f p,
    .f h2{
        width: 100%;
        color: #ffffff;
    }
    .carousel-caption p,
    .f p{
        padding: 0px 0px;
        font-size: small;
    }
    
        .f{
            top:70%;
            
        }
    .header{
        height: 300px;
    }
    .collapse{
        margin-left: 300px;
    }
    .carousel-caption{
        z-index: 999;
        top: 400%;
    }
    .collapse{
      
        margin-left: 0;
           
        }
    .carousel{
        margin-top: 380px;
    }
    .carousel-inner{
        margin-top: -120px;
        height: 270px;
  
    }
    .top-header{
        text-align: center;
        padding: 0;
        margin-top: 10px;
        float: none;
        height: 50px;
        width: 100%;
        margin-right: 0px;  
    }
    .search{
        text-align: center;
        float: none;
        height: 50px;
        width: 100%;
        margin-right: 0px;
        margin-top: 40px;   
    }
    .logo{
        text-align:center;
        margin-left: 0px;
        float: none; 
    }
    .navbar{
        margin-top: 0;
    }
    .addpro{
        float: none;
        margin-top: 5px;
    }
    .search-area{
        float: none;
        margin-top: 5px
    }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}


.viewed{
    direction: ltr;
}
div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: none;
    margin-bottom: 0px
}

p {
    
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a:active {
    position: relative;
    color: #FF6347
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f
}

p a:hover::after {
    opacity: 0.2
}

::selection {}

p::selection {}

h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

.form-control {
    color: #db5246
}

section {
    display: block;
    position: relative;
    box-sizing: border-box
}

.clear {
    clear: both
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.fill_height {
    height: 100%
}

.super_container {
    width: 100%;
    overflow: hidden
}

.prlx_parent {
    overflow: hidden
}

.prlx {
    height: 130% !important
}

.nopadding {
    padding: 0px !important
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.viewed {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada;
}

.bbb_viewed_title {
  
   text-align: left;
   padding: 5px;
}
.bbb_viewed_title i{
   
    float: left;
    padding: 5px;
 
}

.bbb_viewed_nav_container {
    position: absolute;
    bottom: 14px;
}
.mor-arw{
    margin-left: 1050px;
}
.bbb_viewed_nav {
    
 
    display: inline-block;
    cursor: pointer;
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding-right: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i ,.bbb_viewed_title i{
    color: #606264
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 50px
}

.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px
}

.bbb_viewed_image {
    width: 115px;
    height: 115px
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_content {
    width: 100%;
    margin-top: 25px
}

.bbb_viewed_price {
    font-size: 16px;
    color: #000000;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #df3b3b
}

.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}

.pro1{
    padding: 10px;
    margin: 10px;
    height: 50px;
    text-align: center;
    background-color: #6faa85;
}
.pro2{
    padding: 10px;
    margin: 10px;
    height: 50px;
    text-align: center;
    background-color: #8ccca3;
}
.pro3{
    padding: 10px;
    margin: 10px;
    height: 50px;
    text-align: center;
    background-color: #5deb91;
}
/* product-box*/
.product-box .product-img-box .hvr-box{
    background-color: chocolate;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-box .product-img-box:hover .hvr-box{
    opacity: 1;
    right: 0;
}

.product{
    padding: 5px;
    margin-top: 20px;
    height: 260px;
    
}
.slder-box{
    overflow: hidden;
    padding-bottom: 0px;
    height: 239px;
    width: 250px;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-box{
  
    height: 170px;
}
 img{
   
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.p .time{
   text-align: center;
    justify-content: center;
    width: 250px;
   
  
}
.cart {
    justify-content: center;
    margin: 5px;
    
}
.title{
    margin: 10px;
    text-align: left;
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.3rem;
    grid-template-areas: 
            'product-1 product-2 product-3 product-4 product-5';
}  
.product-1{
    grid-area: product-1;
}
.product-2{
    grid-area: product-2;
}
.product-3{
    grid-area: product-3;
}
.product-4{
    grid-area: product-4;
}
.product-5{
    grid-area: product-5;
}
@media screen and (max-width: 1334px){
    .title{
        text-align: center;
    }
    .mor-arw{
        margin-left: 800px;
    }
    .f{
        margin-right: 55px;
    }
    .collapse{
        margin-left: 300px;
    }
    .product{
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'product-1 product-1  product-2 product-2 product-2 '
        ' product-3 product-3 product-4 product-4 product-4'
        ' product-5 product-5 product-5 product-5 product-5'
        ;
        grid-gap: 1.1rem;
       
        margin-top: 0px;
        height: 850px;
    }
    .p .time{
        margin-left: 50px; 
     }
.slder-box{
width: 350px;
}

.img-box img{

height: auto;
width: 100%;
max-height: 100%;
}
}
@media screen and (max-width: 900px){
    .mor-arw{
        margin-left: 400px;
    }
        .product{
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            'product-1 product-1  product-2 product-2 product-2'
            ' product-3 product-3 product-4 product-4 product-4'
            ' product-5 product-5 product-5 product-5 product-5'
            ;
            grid-gap: 1.1rem;
           
            margin-top: 0px;
            height: 850px;
        }
.slder-box{
    width: 350px;
}
.p .time{
    margin-left: 50px; 
 }
.img-box img{
    
    height: auto;
    width: 100%;
    max-height: 100%;
}
}
@media screen and (max-width: 600px){
    .title{
        margin-top: 100px;
    }
    .pro3{
        margin-bottom: -9000px;
    }
    .mor-arw{
        margin-left: 330px;
    }
    .product{
        justify-items: center;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        'product-1 product-1 product-1 product-1 product-1'
        'product-2 product-2 product-2 product-2 product-2'
        'product-3 product-3 product-3 product-3 product-3'
        'product-4 product-4 product-4 product-4 product-4'
        'product-5 product-5 product-5 product-5 product-5';
        grid-gap: 1.1rem;
        margin-top: 50px;
        height: 850px;
    }
.slder-box{
width: 350px;
}
.product{
    margin-bottom: 450px;
}
.div-pro{
    margin-top: 445px;
}
.img-box img{

height: auto;
width: 100%;
}
}
.left{
    border: none;
    float: right;
    width: 76px;
}
.right{
    border: navajowhite;
    width: 163px;
    float: left;
}
.right  span{
    color: rgb(255, 255, 255);
    margin-bottom: -10px;
    background-color: #6cad22;
    float: right; 
}
.page-footer{
  
    background: no-repeat;
    color: rgb(247, 242, 242);
    background-image: url(../images/5.jpg);
    height: 500px;
   
}
.footer{
   
    color: rgb(247, 240, 240);
    float: left;
}
.footer p {
    
    color: rgb(252, 252, 252);
}
.Grid p{
    color: rgb(252, 250, 250);
    font-size: 16px;
}
.icoso i{
    color: rgb(250, 248, 248); 
}
@media screen and (max-width: 900px){
    .page-footer{
        background-color: black ;
        height: 800px;
    }
    .footer{
float: none;
    }   
}
@media screen and (max-width: 600px){
    .footer{
        float: none;
            } 
}
.modal-body {
    direction: ltr;
   text-align: left;
   justify-content: left;
   float: left;
}
